<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="WebDAV" />
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="GET, HEAD, OPTIONS,POST" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            <add name="WebDAV" path="*" verb="PROPFIND,PROPPATCH,MKCOL,PUT,COPY,DELETE,MOVE,LOCK,UNLOCK,POST" modules="WebDAVModule" resourceType="Either" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>
